body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
    background-color: #EAE6F5; /* Светло-фиолетовый фон */
    color: #333333; /* Основной цвет текста */
  }
  
  /* Шапка */
  header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(60, 77, 139, 0.9); /* Полупрозрачный синий */
    color: white;
    z-index: 10;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  }
  
  header .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  
  header h1 {
    margin: 0;
    font-size: 1.8em;
    color: #FFFFFF; /* Белый текст для заголовка */
  }
  
  header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
  }
  
  header nav ul li a {
    text-decoration: none;
    color: #FFFFFF; /* Белый текст для ссылок */
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  header nav ul li a:hover {
    color: #FFD700; /* Золотой цвет при наведении */
  }
  
  .auth-icon a {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 8px 15px;
    border: 2px solid white;
    border-radius: 5px;
    transition: all 0.3s ease; /* Плавная анимация */
  }
  
  .auth-icon a:hover {
    background-color: #FFD700; /* Золотой фон */
    color: #333333; /* Тёмно-серый текст */
    transform: scale(1.1); /* Увеличение */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Тень */
  }
  
  /* Параллакс */
  .parallax-section {
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .parallax1 {
    background-image: url('image/img1.webp');
  }
  
  .parallax2 {
    background-image: url('image/imgHeader.webp');
  }
  
  .content-section {
    padding: 80px 50px;
    text-align: center;
    background-color: #FFFFFF; /* Белый фон для контентных блоков */
    color: #333333; /* Тёмно-серый текст */
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Лёгкая тень */
  }
  
  .content-section h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #3C4D8B; /* Синий цвет для заголовков */
  }
  
  .content-section p {
    font-size: 1.2em;
    line-height: 1.6;
  }
  
  /* Подвал */
  footer {
    background-color: #3C4D8B; /* Тёмно-синий */
    color: #FFFFFF;
    text-align: center;
    padding: 20px 10px;
  }
  
  footer a {
    color: #FFD700; /* Золотой */
    text-decoration: none;
  }
  
  footer a:hover {
    text-decoration: underline;
  }







